$palette-primary: rgb(55, 55, 236);
$palette-primary-dark: rgb(32, 32, 155);
$palette-text-grey: rgb(34, 34, 34);
$palette-text-black: rgb(25, 25, 25);
$palette-box-border: rgb(221, 221, 221);
$palette-text-underline: rgb(113, 113, 113);